
.image-left-underbanner img {
    width: 155%; 
    max-width: 600px; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
    margin-left: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .image-left-underbanner img {
        max-width: 90%; 
        margin: 15px auto; 
        margin-top: 12%;
    }
}

@media (max-width: 480px) {
    .image-left-underbanner img {
        max-width: 100%; 
        margin: 10px auto; 
    }
}

.left-content-box {
    font-size: 20px;
    width: 41.5%; /* Adjusted to match proportions */
    height: 300px; /* Ensure content determines height */
    margin-left: 2%; /* Align closer to the image */
    margin-top: -61px; /* Adjust for proper vertical spacing */
    display: inline-block;
    text-align: justify;
    color: black;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .left-content-box {
        width: 90%; /* For smaller screens */
        margin: 20px auto; /* Center alignment */
    }
}


.header-text {
    margin-top: -40px;
    font-size: 24px;
    color: #103775;
}

.right-content-box {
    padding: 20px;
    background-color: white;
    color: black;
    font-size: 24px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    margin: 20px 2%;
    margin-left:50%;
    text-align: left;
    margin-top: -240.4%;
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .right-content-box {
        font-size: 3.5vw; 
        padding: 15px;
        margin: 20px auto;
    }
}
.right-text {
    margin-top: -40px;
    font-size: 24px;
    color: #103775;
}